@media screen and (max-width: 1024px) {
    /* обзор */
    .overview__wrapper {
        flex-direction: column;
    }

    .overview__left, .overview__right {
        width: 100%;
    }

    .manager__btn {
        width: fit-content;
    }

    /* аналитика */
    .analytics__card {
        width: calc((100% - 24px) / 2);
    }
}

@media screen and (max-width: 768px) {
    /* обзор */
    .contacts__contacts, .traffic__cards {
        flex-direction: column;
    }

    .contacts__contact, .traffic__card {
        width: 100%;
    }

    .data__card {
        width: calc((100% - 16px) / 2);
    }

    /* задачи */
    .tasks__card {
        flex-direction: column;
    }

    /* история */
    .history__card {
        flex-direction: column;
    }

    .history__time {
        margin-left: 56px;
    }
}

@media screen and (max-width: 480px) {
    /* обзор */
    .data__card {
        width: 100%;
    }

    /* аналитика */
    .analytics__card {
        width: 100%;
    }
}