@font-face {
    font-family: 'Inter-Regular';
    font-display: swap;
    src: local('Inter-Regular'),
        url('../fonts/Inter-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Inter-Bold';
    font-display: swap;
    src: local('Inter-Bold'),
        url('../fonts/Inter-Bold.woff') format('woff');
}

html {
    box-sizing: border-box;
    background-color: #f9fafb;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

body {
    min-width: 320px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Inter-Regular', sans-serif;
    line-height: normal;
    color: #000;
}

#root {
    padding: 24px;
}

.container {
    margin: 0 auto;
    max-width: 1300px;
}

*>svg {
    width: 16px;
    height: 16px;
}

/* шапка */
.header__wrapper {
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}

.header__info {
    display: flex;
    align-items: center;
}

.header__avatar {
    margin-right: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 64px;
    height: 64px;
    background-color: #dbeafe;
    border-radius: 50%;
    overflow: hidden;
    font-weight: bold;
    font-size: 18px;
    color: #1447e6;
    text-transform: uppercase;

}

.header__avatar>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header__name {
    margin: 0;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 24px;
}

.header__block {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 4px 8px;
}

.header__status {
    padding: 2px 8px;
    background-color: #2b7fff;
    border-radius: 6px;
    font-size: 12px;
    color: #fff;
}

.header__id,
.header__point,
.header__update {
    font-size: 14px;
    color: #6f7886;
}

.header__actions {
    display: flex;
    align-items: center;
    gap: 8px;
}

.header__btn {
    padding: 8px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 1px solid #e5e5e5;
    background-color: #fff;
    border-radius: 6px;
    font-size: 14px;
}

.header__btn.btn-call {
    background-color: #00a53e;
    color: #fff;
}

.header__btn:hover {
    background-color: whitesmoke;
}

.header__btn.btn-call:hover {
    background-color: #008236;
}

.header__tabs {
    margin-bottom: 24px;
    width: 100%;
    padding: 3px;
    display: flex;
    background-color: #f5f5f5;
    border-radius: 9px;
}

.header__tab {
    padding: 8px;
    width: calc(100% / 5);
    background-color: transparent;
    border-radius: 6px;
    font-size: 14px;
    text-align: center;
}

.header__tab.active {
    background-color: #fff;
    border: 1px solid #e5e5e5;
    box-shadow: 0 1px 3px 0 #0000001a,
        0 1px 2px -1px #0000001a;
}

/* основная часть */
.main__wrapper {
    display: none;
    width: 100%;
}

.main__wrapper.active {
    display: block;
}

.main__block {
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}

.main__title {
    margin: 0;
    font-size: 20px;
}

.main__actions {
    display: flex;
    align-items: center;
    gap: 8px;
}

.main__btn {
    padding: 8px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 1px solid #e5e5e5;
    background-color: #fff;
    border-radius: 6px;
    font-size: 14px;
}

.main__btn.custom {
    background-color: #000;
    border: none;
    color: #fff;
}

.main__btn:hover {
    background-color: whitesmoke;
}

.main__btn.custom:hover {
    background-color: #171717;
}

/* обзор */
.overview__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.overview__top,
.overview__bottom {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.overview__top .overview__card {
    width: calc((100% - 24px * 2) / 3);
}

.overview__bottom .overview__card {
    width: calc((100% - 24px) / 2);
}

.overview__card {
    padding: 24px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 16px;
    box-shadow: 0 1px 3px 0 #0000001a,
        0 1px 2px -1px #0000001a;
}

.overview__title {
    margin: 0;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
}

.overview__title>svg {
    width: 20px;
    height: 20px;
}

/* контактная информация */
.contacts__contacts {
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.contacts__contact {
    display: flex;
    align-items: center;
    gap: 12px;
}

.contacts__value {
    font-size: 16px;
}

.contacts__descr {
    font-size: 14px;
    color: #6f7886;
}

.contacts__subtitle {
    margin: 0;
    margin-bottom: 8px;
    padding-top: 16px;
    border-top: 1px solid #e5e5e5;
    font-size: 14px;
    color: #364153;
}

.contacts__phones {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px 24px;
}

.contacts__phone {
    font-size: 14px;
    color: #6f7886;
}

/* источники трафика */
.traffic__cards {
    display: flex;
    gap: 16px;
}

.traffic__card {
    padding: 16px;
    width: calc((100% - 16px * 2) / 3);
    border-radius: 6px;
}

.traffic__text {
    margin-bottom: 4px;
    font-size: 14px;
    text-align: center;
}

.traffic__descr {
    font-size: 18px;
    text-align: center;
}

/* коммерческие данные */
.data__cards {
    margin-bottom: 16px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.data__card {
    width: calc((100% - 16px * 3) / 4);
}

.data__text {
    margin-bottom: 4px;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}

.data__descr {
    font-size: 14px;
    color: #6f7886;
    text-align: center;
}

.data__last-order {
    padding-top: 16px;
    border-top: 1px solid #e5e5e5;
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 14px;
    color: #6f7886;
}

.data__last-order>div {
    display: flex;
    align-items: center;
    gap: 4px;
    font-weight: bold;
    font-size: 16px;
    color: #000;
}

/* ответственный менеджер */
.manager__info {
    display: flex;
    align-items: center;
}

.manager__avatar {
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 48px;
    height: 48px;
    background-color: #dbfce7;
    border-radius: 50%;
    overflow: hidden;
    font-weight: bold;
    font-size: 16px;
    color: #008236;
    text-transform: uppercase;
}

.manager__avatar>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.manager__name {
    margin: 0;
    margin-bottom: 4px;
    font-size: 16px;
}

.manager__phone {
    font-size: 14px;
    color: #6f7886;
}

.manager__btn {
    margin-top: 16px;
    padding: 8px 12px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 1px solid #e5e5e5;
    background-color: #fff;
    border-radius: 6px;
    font-size: 14px;
}

.manager__btn:hover {
    background-color: whitesmoke;
}

/* метрики качества */
.metrics__wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.metrics__value {
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    font-size: 14px;
}

.metrics__line {
    position: relative;
    height: 8px;
    border-radius: 8px;
    background-color: #d1d1d1;
    overflow: hidden;
}

.metrics__line::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: var(--value);
    height: 100%;
    background-color: var(--color);
    border-radius: 8px;
}

/* активность */
.activity__wrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.activity__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    font-size: 14px;
    color: #6f7886;
}

.activity__info span {
    color: #000;
    text-align: right;
}

/* теги */
.activity__wrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.activity__values {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
}

.activity__value {
    padding: 2px 8px;
    width: fit-content;
    background-color: #f5f5f5;
    border-radius: 8px;
    border: 1px solid #e5e5e5;
    font-size: 12px;
    text-align: center;
}

/* задачи */
.tasks__cards {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.tasks__card {
    padding: 48px 24px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 16px;
    box-shadow: 0 1px 3px 0 #0000001a,
        0 1px 2px -1px #0000001a;
}

.tasks__card:hover {
    box-shadow: 0 4px 6px -1px #0000001a,
        0 2px 4px -2px #0000001a;
}

.tasks__wrapper {
    margin-bottom: 12px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 12px;
}

.tasks__title {
    margin: 0;
    margin-bottom: 8px;
    font-size: 18px;
}

.tasks__text {
    margin: 0;
    margin-bottom: 12px;
    font-size: 16px;
    color: #6f7886;
}

.tasks__actions {
    display: flex;
    align-items: center;
    gap: 8px;
}

.tasks__btn {
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #e5e5e5;
    background-color: #fff;
    border-radius: 6px;
    font-size: 14px;
}

.tasks__tags {
    margin-bottom: 12px;
    display: flex;
    align-items: flex-start;
    gap: 8px;
}

.tasks__tag {
    padding: 2px 8px;
    border: 1px solid #f5f5f5;
    background-color: #fff;
    border-radius: 8px;
    font-size: 12px;
}

.tasks__tag.red {
    border-color: #ffc9c9;
    background-color: #ffe2e2;
    color: #9f0712;
}

.tasks__tag.blue {
    border-color: #bedbff;
    background-color: #dbeafe;
    color: #193cb8;
}

.tasks__tag.green {
    border-color: #b9f8cf;
    background-color: #dbfce7;
    color: #016630;
}

.tasks__tag.yellow {
    border-color: #fff085;
    background-color: #fef9c2;
    color: #894b1f;
}

.tasks__tag.gray {
    border-color: #f5f5f5;
    background-color: #f5f5f5;
}

.tasks__info {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 12px;
}

.tasks__block {
    width: calc((100% - 12px * 3) / 4);
}

.tasks__key {
    margin-bottom: 4px;
    font-size: 14px;
    color: #6f7886;
}

.tasks__value {
    font-weight: bold;
    font-size: 14px;
}

/* история */
.history__cards {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.history__card {
    padding: 48px 24px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 16px;
    box-shadow: 0 1px 3px 0 #0000001a,
        0 1px 2px -1px #0000001a;
}

.history__wrapper {
    display: flex;
    align-items: flex-start;
    gap: 12px;
}

.history__block {
    margin-top: 2px;
}

.history__info {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.history__title {
    margin: 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    font-size: 16px;
}

.history__time {
    font-weight: normal;
    font-size: 14px;
    color: #6f7886;
    white-space: nowrap;
}

.history__text {
    font-size: 16px;
    color: #6f7886;
}

.history__result {
    padding: 8px;
    background-color: #f8fafc;
    border-radius: 3px;
    font-size: 12px;
    color: #6f7886;
}

.history__user {
    font-size: 14px;
    color: #6f7886;
}

/* аналитика */
.analytics__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.analytics__card {
    padding: 48px 24px;
    width: calc((100% - 24px * 3) / 4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 16px;
}

.analytics__card>svg {
    margin-bottom: 8px;
    width: 32px;
    height: 32px;
}

.analytics__value {
    margin-bottom: 4px;
    font-weight: bold;
    font-size: 24px;
}

.analytics__text {
    font-size: 14px;
    color: #6f7886;
    text-align: center;
}

/* разведка */


/* кко */


/* ответственность */
.responsibility__wrapper {
    padding: 24px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 16px;
    box-shadow: 0 1px 3px 0 #0000001a, 0 1px 2px -1px #0000001a;
}

.responsibility__title {
    margin: 0;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
}

.responsibility__title>svg {
    width: 20px;
    height: 20px;
}

.responsibility__card:not(:last-child) {
    border-bottom: 1px solid #e5e5e5;
}

.responsibility__card {
    padding: 24px 0;
}

.responsibility__block {
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: bold;
    font-size: 16px;
}

.responsibility__block span:nth-child(2n+1) {
    font-weight: normal;
    font-size: 18px;
    color: #155dfc;
}

.responsibility__content {
    padding-left: 32px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.responsibility__date {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    color: #6f7886;
}

.responsibility__reason {
    font-size: 14px;
    color: #6f7886;
}

.responsibility__reason span {
    font-weight: bold;
    color: #000;
}

.responsibility__comment {
    font-size: 14px;
    color: #6f7886;
}

.responsibility__comment span {
    color: #155dfc;
}

/* триггер */
.trigger__wrapper {
    padding: 24px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 16px;
    box-shadow: 0 1px 3px 0 #0000001a, 0 1px 2px -1px #0000001a;
}

.trigger__title {
    margin: 0;
    margin-bottom: 12px;
    font-size: 16px;
}

.trigger__cards {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.trigger__card {
    padding: 16px 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    background-color: #eff6ff;
    border-radius: 8px;
}

.trigger__name {
    position: relative;
    font-weight: bold;
    font-size: 16px;
}

.trigger__name::before {
    content: '';
    position: absolute;
    top: 6px;
    left: -12px;
    width: 3px;
    height: 8px;
    background-color: #2b7fff;
    border-radius: 3px;
}

.trigger__text {
    font-size: 16px;
    color: #314158;
}

.trigger__text span {
    font-weight: bold;
}

.trigger__descr {
    font-size: 14px;
    color: #62768e;
}

/* встречи */
.meeting__cards {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.meeting__card {
    padding: 48px 24px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 16px;
    box-shadow: 0 1px 3px 0 #0000001a, 0 1px 2px -1px #0000001a;
}

.meeting__wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.meeting__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}

.meeting__info {
    display: flex;
    align-items: center;
    gap: 12px;
}

.meeting__title {
    margin: 0;
    margin-bottom: 4px;
    font-size: 16px;
}

.meeting__time {
    font-size: 14px;
    color: #6f7886;
}

.meeting__status {
    padding: 2px 8px;
    border: 1px solid #e5e7eb;
    background-color: #f3f4f6;
    border-radius: 8px;
    font-size: 12px;
}

.meeting__status.green {
    border-color: #b9f8cf;
    background-color: #dbfce7;
    color: #016630;
}

.meeting__actions {
    display: flex;
    align-items: center;
    gap: 8px;
}

.meeting__btn {
    padding: 8px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 1px solid #e5e5e5;
    background-color: #fff;
    border-radius: 8px;
    font-size: 14px;
}

.meeting__btn.blue {
    background-color: #155dfc;
    color: #fff;
}

.meeting__btn:hover {
    background-color: whitesmoke;
}

.meeting__btn.blue:hover {
    background-color: #1447e6;
}

.meeting__result {
    margin-bottom: 16px;
    padding: 12px;
    background-color: #f0fdf4;
    border-radius: 8px;
    color: #008236;
}

.meeting__key {
    margin-bottom: 4px;
    font-weight: bold;
    font-size: 14px;
}

.meeting__value {
    font-size: 16px;
}

/* ватсап */
.whatsapp__wrapper {
    padding: 24px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 16px;
    box-shadow: 0 1px 3px 0 #0000001a, 0 1px 2px -1px #0000001a;
}

.whatsapp__title {
    margin: 0;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
}

.whatsapp__title>svg,
.whatsapp__subtitle>svg {
    width: 20px;
    height: 20px;
}

.whatsapp__chat {
    padding: 24px 0;
    height: 400px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow: hidden scroll;
    scrollbar-width: thin;
}

.whatsapp__client,
.whatsapp__manager {
    align-self: flex-start;
    max-width: 450px;
    padding: 8px 16px;
    background-color: #e5e7eb;
    border-radius: 8px;
}

.whatsapp__manager {
    align-self: flex-end;
    background-color: #00c951;
}

.whatsapp__text {
    margin: 0;
    margin-bottom: 8px;
    font-size: 14px;
}

.whatsapp__status {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

.whatsapp__manager .whatsapp__text,
.whatsapp__manager .whatsapp__status {
    color: #fff;
}

.whatsapp__date {
    font-size: 12px;
}

.whatsapp__check {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
}

.whatsapp__check>svg {
    width: 12px;
    height: 12px;
}

.whatsapp__manager .whatsapp__check span {
    display: flex;
    align-items: center;
    gap: 8px;
}

.whatsapp__manager .whatsapp__check span>svg {
    stroke: #fff;
}

.whatsapp__actions {
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 36px;
    border-top: 1px solid #e5e5e5;
}

.whatsapp__form {
    margin-bottom: 12px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 8px;
}

.whatsapp__input-text {
    padding: 8px 12px;
    width: calc(100% - 24px);
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 8px;
    resize: none;
    font-size: 16px;
    outline: none;
}

.whatsapp__input-text:focus {
    outline: 2px solid #00a63e;
}

.whatsapp__submit {
    padding: 8px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00a63e;
    border-radius: 8px;
}

.whatsapp__btns {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.whatsapp__btn {
    padding: 8px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #f1f1f4;
    border-radius: 20px;
    font-size: 14px;
}

.whatsapp__btn:hover {
    background-color: #000;
    color: #fff;
}

.whatsapp__subtitle {
    margin: 0;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
}

.whatsapp__settings {
    margin: 16px 0;
    position: relative;
    display: flex;
    align-items: center;
    gap: 12px;
}

.whatsapp__date-block {
    position: relative;
}

#date-btn,
#time-btn {
    padding: 8px 12px 8px 32px;
    position: relative;
    border: 1px solid #e5e5e5;
    background-color: #fff;
    border-radius: 6px;
    font-size: 14px;
}

#date-btn::before,
#time-btn::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M8 2v4'/%3E%3Cpath d='M16 2v4'/%3E%3Crect width='18' height='18' x='3' y='4' rx='2'/%3E%3Cpath d='M3 10h18'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#time-btn::before {
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='12' cy='12' r='9' stroke='currentColor' stroke-width='2'%3E%3C/circle%3E%3Cpath d='M12 6V12L16 14' stroke='currentColor' stroke-width='2' stroke-linecap='round'%3E%3C/path%3E%3C/svg%3E");
}

#date-btn:hover,
#time-btn:hover {
    background-color: whitesmoke;
}

/* календарь */
.whatsapp__calendar {
    position: absolute;
    z-index: 1;
    user-select: none;
    left: 50%;
    bottom: calc(100% + 12px);
    transform: translateX(-50%);
    padding: 30px 60px;
    background-color: #fff;
    border-radius: 30px;
    border: 1px solid #e5e5e5;
    box-shadow: 0px 4px 20px 0px #2B2B3333;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
}

.whatsapp__calendar::before {
    content: '';
    position: absolute;
    bottom: -9px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
}

.whatsapp__calendar.active {
    opacity: 1;
    visibility: visible;
    transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
}

.calendar__block::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    border-radius: 30px;
}

.calendar__wrapper {
    position: relative;
}

.calendar__display {
    margin-bottom: 12px;
    font-weight: 500;
    font-size: 16px;
    line-height: 18.75px;
    color: #1C1C1C;
    text-align: center;
    text-transform: uppercase;
}

.calendar__btn {
    position: absolute;
    z-index: 1;
    top: 20px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14'%3E%3Cpath d='M5.2 11.6L9 7.8c.45-.45.45-1.18 0-1.63L5.2 2.4' fill='none' stroke='%231C1C1C' stroke-width='1.3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0px 4px 20px 0px #2B2B3333;
}

.calendar__btn.left {
    left: 20px;
    transform: rotate(180deg);
}

.calendar__btn.right {
    right: 20px;
}

.calendar__days,
.calendar__week {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 15px 0;
    justify-content: space-between;
}

.calendar__week {
    margin-bottom: 24px;
}

.calendar__week div,
.calendar__days div {
    padding: 4px 10px;
    position: relative;
    font-weight: 500;
    font-size: 16px;
    line-height: 18.75px;
    color: #585858;
    text-align: center;
    cursor: pointer;
}

.calendar__days div:hover::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 33px;
    height: 33px;
    background-color: transparent;
    border: 2px solid #463998;
    opacity: 0.5;
    border-radius: 10px;
}

.calendar__days div.change {
    background-color: #E7E4FC;
    color: #1C1C1C;
}

.calendar__days div.active {
    background-color: transparent;
    color: #1C1C1C;
}

.calendar__days div.active::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 33px;
    height: 33px;
    background-color: transparent;
    border: 2px solid #463998;
    border-radius: 10px;
}

.calendar__week div {
    cursor: default;
    color: #1C1C1C;
    text-transform: lowercase;
}

.calendar__days div.current-date {
    font-weight: 600;
    color: #000;
}

.calendar__days div.disabled,
.calendar__days div.empty-day {
    pointer-events: none;
    opacity: 0.3;
    text-decoration: line-through;
}

/* таймпикер */
.whatsapp__timepicker {
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    z-index: 1;
    user-select: none;
    left: 50%;
    bottom: calc(100% + 12px);
    transform: translateX(-50%);
    padding: 30px 60px;
    background-color: #fff;
    border-radius: 30px;
    border: 1px solid #e5e5e5;
    box-shadow: 0px 4px 20px 0px #2B2B3333;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
}

.whatsapp__timepicker.active {
    opacity: 1;
    visibility: visible;
    transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
}

.timepicker__container {
    width: 60px;
    height: 120px;
    overflow: hidden;
}

.timepicker__container .swiper-slide {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    user-select: none;
}

.timepicker__container .swiper-slide-active {
    font-weight: bold;
    color: #155dfc;
}